* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.eventNav {
  padding: 0.7rem 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.linksDiv {
  display: flex;
  gap: 2rem;
}
.linksDiv a {
  color: black;
  font-weight: 400;
  text-decoration: none;
  font-size: 1rem;
}
.linksDiv a:hover {
  color: #fecc17;
}

.banner {
  width: 100%;
  height: 90vh;
  position: relative;
  /* margin-top: -2.9rem; */
}

.banner::before {
  content: "";
  background: url("../assests/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bannerMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 7rem 0; */
  padding-bottom: 0;
  /* width: 80%; */
  margin: 0 auto;
  height: 80%;
  gap: 10rem;
}

.bannerLeft {
  height: fit-content;
  border-right: 2px solid rgba(0, 0, 0, 0.113);
  padding: 0 4rem;
}
.bannerLeftHeading {
  text-align: start;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.09rem;
}

.bannerLeftHeading2 {
  color: #fecc17;
  font-weight: bolder;
}

.bannerLeftPara {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 400;
  color: #000000d2;
  text-transform: uppercase;
}
.lastPara {
  font-size: 1.6rem;
  font-weight: bold;
}

.stayTuned {
  border: 1px solid black;
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-weight: bold;
  text-align: center;
  width: 75%;
  font-size: 0.9rem;
}

.bannerRight {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.bannerRight button {
  border: 1px solid black;
  background-color: white;

  padding: 0.4rem 0.8rem;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s;
  text-transform: uppercase;
}
.bannerRight button:hover {
  color: white;
  background-color: black;
}

/* OverView */

#overview {
  padding: 2rem 0;
}
.overviewMainDiv {
  display: flex;
  /* background-color: red; */
  width: 90%;
  gap: 3rem;
}

.overview2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.overview2 h2 {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  border-right: 2px solid rgba(0, 0, 0, 0.113);
}
.overview2Heading1 {
  color: #fecc17;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.overview2Heading2 {
  color: black;
  font-size: 3.5rem;
  font-weight: bolder;
}
.overview2 img {
  width: 7rem;
  opacity: 0.6;
  margin: 0 auto;
}
.overview3 {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}
.overview3 p {
  color: black;
  font-size: 1.05rem;
  padding-top: 6rem;
  font-weight: 400;
}
.overview3 button {
  width: 30%;
  border: none;
  padding: 0.2rem 0;
}

.records {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}
.records div {
  border-right: 2px solid rgba(0, 0, 0, 0.113);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}

.records h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 1rem;
  font-size: 2.2rem;
}

.recordsHeading1 {
  font-size: 3rem;
}

#discussion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.discussion1 {
  background-color: #fecc17;
  width: 33%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 42rem;
}

.discussion1 h2 {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 2.3rem;
}
.discussion1 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.discussion1 ul li {
  font-size: 1.3rem;
}

.discussion2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discussion2 div {
  background-color: #e7ecef;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.1rem;
  gap: 1rem;
}
.discussion3 {
  width: 33%;
}
.discussion3 img {
  width: 20rem;
}

#speakers {
  background-color: #fbf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speakersDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 2rem;
}
.speakersDiv h2 {
  color: #fecc17;
  font-size: 2.5rem;
}
.speakersCardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.speakersCard {
  box-shadow: 0.1rem 0.1rem 0.6rem rgb(221, 221, 221);
  width: 17rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.speakersCard img {
  width: 100%;
}
.speakersCard p {
  font-weight: bold;
  color: #fecc17;
}

.afterSpeaker {
  background: url("../assests/afterspeaker.jpg") no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 4rem;
  height: 70vh;
  text-align: center;
}
.afterSpeaker div {
  width: 80%;
}
.partner {
  padding: 4rem 0;
}
.partnerDiv {
  display: flex;
  align-items: start;
}

.partnerDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.partnerDiv2 h2 {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}
.partnerDiv2Heading1 {
  color: #fecc17;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.partnerDiv2Heading2 {
  color: black;
  font-size: 3.5rem;
  font-weight: bolder;
}

.partnerDiv3 {
  background-color: #fecc17;
  width: 22%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.partnerDiv3 ul {
  height: 100%;
  font-size: 1.5rem;
}
.partnerDiv4 {
  overflow: hidden;
  margin-top: 3rem;
}
.partnerDiv4 img {
  transition: all 0.3s;
}
.partnerDiv4 img:hover {
  transform: scale(1.2);
}
